<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web 1920 – 1</title>
<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920__1 {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(0,0,0,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 1;
		--web-view-id: Web_1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#pexels-djordje-petrovic-210241 {
		filter: blur(30px);
		position: absolute;
		width: 1920px;
		height: 2880px;
		left: 0px;
		top: -711px;
		overflow: visible;
	}
	#Rectangle_1_i {
		fill: url(#Rectangle_1_i);
	}
	.Rectangle_1_i {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 89px;
		left: 0px;
		top: 0px;
	}
	#Path_1_k {
		fill: url(#Path_1_k);
	}
	.Path_1_k {
		overflow: visible;
		position: absolute;
		width: 833.105px;
		height: 151.953px;
		left: 542.734px;
		top: 468px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Flows_your_boat {
		left: 766px;
		top: 643px;
		position: absolute;
		overflow: visible;
		width: 389px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.5px;
	}
	#btn_google_signin_dark_normal_ {
		position: absolute;
		width: 287px;
		height: 69px;
		left: 1577px;
		top: 10px;
		overflow: visible;
	}
	#Path_2 {
		fill: rgba(255,255,255,1);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 243.978px;
		height: 44.5px;
		left: 33.447px;
		top: 22.25px;
		transform: matrix(1,0,0,1,0,0);
	}
</style>
</head>
<body>
<div id="Web_1920__1">
	<img id="pexels-djordje-petrovic-210241" src="pexels-djordje-petrovic-210241.png" srcset="pexels-djordje-petrovic-210241.png 1x, pexels-djordje-petrovic-210241@2x.png 2x">
		
	<svg class="Rectangle_1_i">
		<linearGradient id="Rectangle_1_i" spreadMethod="pad" x1="-0.011" x2="0.753" y1="0.603" y2="0.623">
			<stop offset="0" stop-color="#08f" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#004480" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_1_i" rx="0" ry="0" x="0" y="0" width="1920" height="89">
		</rect>
	</svg>
	<svg class="Path_1_k" viewBox="2.734 -150 833.105 151.953">
		<linearGradient id="Path_1_k" spreadMethod="pad" x1="0.381" x2="0.697" y1="-0.732" y2="-0.125">
			<stop offset="0" stop-color="#08f" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#004480" stop-opacity="1"></stop>
		</linearGradient>
		<path id="Path_1_k" d="M 95.01953125 -37.20703125 L 35.44921875 -37.20703125 L 22.0703125 0 L 2.734375 0 L 57.03125 -142.1875 L 73.4375 -142.1875 L 127.83203125 0 L 108.59375 0 L 95.01953125 -37.20703125 Z M 41.11328125 -52.5390625 L 89.453125 -52.5390625 L 65.234375 -119.04296875 L 41.11328125 -52.5390625 Z M 208.30078125 -10.44921875 C 201.26953125 -2.180989265441895 190.9505157470703 1.953125 177.34375 1.953125 C 166.0807342529297 1.953125 157.5032501220703 -1.318359375 151.611328125 -7.861328125 C 145.7194061279297 -14.40429496765137 142.7408905029297 -24.08853912353516 142.67578125 -36.9140625 L 142.67578125 -105.6640625 L 160.7421875 -105.6640625 L 160.7421875 -37.40234375 C 160.7421875 -21.38671875 167.2526092529297 -13.37890625 180.2734375 -13.37890625 C 194.0755157470703 -13.37890625 203.2552032470703 -18.52213478088379 207.8125 -28.80859375 L 207.8125 -105.6640625 L 225.87890625 -105.6640625 L 225.87890625 0 L 208.69140625 0 L 208.30078125 -10.44921875 Z M 277.83203125 -131.25 L 277.83203125 -105.6640625 L 297.55859375 -105.6640625 L 297.55859375 -91.69921875 L 277.83203125 -91.69921875 L 277.83203125 -26.0894775390625 C 277.83203125 -21.85261726379395 278.7109375 -18.67497444152832 280.46875 -16.55654907226563 C 282.2265625 -14.43811893463135 285.2213439941406 -13.37890529632568 289.453125 -13.37890625 C 291.5364685058594 -13.37890625 294.4010314941406 -13.76953125 298.046875 -14.55078125 L 298.046875 0.01220703125 C 293.2942810058594 1.30615222454071 288.671875 1.95312488079071 284.1796875 1.953125 C 276.1067810058594 1.953125 270.01953125 -0.48828125 265.91796875 -5.37109375 C 261.81640625 -10.25390625 259.765625 -17.1875 259.765625 -26.171875 L 259.765625 -91.69921875 L 240.52734375 -91.69921875 L 240.52734375 -105.6640625 L 259.765625 -105.6640625 L 259.765625 -131.25 L 277.83203125 -131.25 Z M 311.9140625 -53.80859375 C 311.9140625 -64.16015625 313.9485778808594 -73.47005462646484 318.017578125 -81.73828125 C 322.0865783691406 -90.00650787353516 327.7506408691406 -96.38671112060547 335.009765625 -100.87890625 C 342.2688903808594 -105.37109375 350.5533752441406 -107.6171875 359.86328125 -107.6171875 C 374.2513122558594 -107.6171875 385.888671875 -102.63671875 394.775390625 -92.67578125 C 403.662109375 -82.71484375 408.10546875 -69.46614837646484 408.10546875 -52.9296875 L 408.10546875 -51.66015625 C 408.10546875 -41.37369537353516 406.1360778808594 -32.14518356323242 402.197265625 -23.974609375 C 398.2584533691406 -15.80403518676758 392.626953125 -9.440103530883789 385.302734375 -4.8828125 C 377.978515625 -0.3255205154418945 369.5638122558594 1.953125 360.05859375 1.953125 C 345.7356872558594 1.953125 334.130859375 -3.02734375 325.244140625 -12.98828125 C 316.357421875 -22.94921875 311.9140625 -36.1328125 311.9140625 -52.5390625 L 311.9140625 -53.80859375 Z M 330.078125 -51.66015625 C 330.078125 -39.94140625 332.7962341308594 -30.53385543823242 338.232421875 -23.4375 C 343.6686096191406 -16.34114456176758 350.9440002441406 -12.79296875 360.05859375 -12.79296875 C 369.23828125 -12.79296875 376.5299377441406 -16.38997268676758 381.93359375 -23.583984375 C 387.3372497558594 -30.77799606323242 390.0390625 -40.85286331176758 390.0390625 -53.80859375 C 390.0390625 -65.39713287353516 387.2884216308594 -74.78840637207031 381.787109375 -81.982421875 C 376.2857971191406 -89.17642974853516 368.9778747558594 -92.77342987060547 359.86328125 -92.7734375 C 350.9440002441406 -92.7734375 343.75 -89.22525787353516 338.28125 -82.12890625 C 332.8125 -75.03255462646484 330.078125 -64.87630462646484 330.078125 -51.66015625 Z M 512.01171875 -62.79296875 L 452.34375 -62.79296875 L 452.34375 0 L 433.59375 0 L 433.59375 -142.1875 L 521.6796875 -142.1875 L 521.6796875 -126.85546875 L 452.34375 -126.85546875 L 452.34375 -78.125 L 512.01171875 -78.125 L 512.01171875 -62.79296875 Z M 560.9375 0 L 542.87109375 0 L 542.87109375 -150 L 560.9375 -150 L 560.9375 0 Z M 585.05859375 -53.80859375 C 585.05859375 -64.16015625 587.0930786132813 -73.47005462646484 591.162109375 -81.73828125 C 595.2311401367188 -90.00650787353516 600.8952026367188 -96.38671112060547 608.154296875 -100.87890625 C 615.4133911132813 -105.37109375 623.6979370117188 -107.6171875 633.0078125 -107.6171875 C 647.3958129882813 -107.6171875 659.033203125 -102.63671875 667.919921875 -92.67578125 C 676.806640625 -82.71484375 681.25 -69.46614837646484 681.25 -52.9296875 L 681.25 -51.66015625 C 681.25 -41.37369537353516 679.2805786132813 -32.14518356323242 675.341796875 -23.974609375 C 671.4030151367188 -15.80403518676758 665.771484375 -9.440103530883789 658.447265625 -4.8828125 C 651.123046875 -0.3255205154418945 642.7083129882813 1.953125 633.203125 1.953125 C 618.8801879882813 1.953125 607.275390625 -3.02734375 598.388671875 -12.98828125 C 589.501953125 -22.94921875 585.05859375 -36.1328125 585.05859375 -52.5390625 L 585.05859375 -53.80859375 Z M 603.22265625 -51.66015625 C 603.22265625 -39.94140625 605.9407348632813 -30.53385543823242 611.376953125 -23.4375 C 616.8131713867188 -16.34114456176758 624.0885620117188 -12.79296875 633.203125 -12.79296875 C 642.3828125 -12.79296875 649.6744995117188 -16.38997268676758 655.078125 -23.583984375 C 660.4817504882813 -30.77799606323242 663.18359375 -40.85286331176758 663.18359375 -53.80859375 C 663.18359375 -65.39713287353516 660.4329223632813 -74.78840637207031 654.931640625 -81.982421875 C 649.4303588867188 -89.17642974853516 642.1223754882813 -92.77342987060547 633.0078125 -92.7734375 C 624.0885620117188 -92.7734375 616.89453125 -89.22525787353516 611.42578125 -82.12890625 C 605.95703125 -75.03255462646484 603.22265625 -64.87630462646484 603.22265625 -51.66015625 Z M 797.4609375 -24.90234375 L 817.7734375 -105.6640625 L 835.83984375 -105.6640625 L 805.078125 0 L 790.4296875 0 L 764.74609375 -80.078125 L 739.74609375 0 L 725.09765625 0 L 694.43359375 -105.6640625 L 712.40234375 -105.6640625 L 733.203125 -26.5625 L 757.8125 -105.6640625 L 772.36328125 -105.6640625 L 797.4609375 -24.90234375 Z">
		</path>
	</svg>
	<div id="Flows_your_boat">
		<span>Flows your boat</span>
	</div>
	<img id="btn_google_signin_dark_normal_" src="btn_google_signin_dark_normal_.png" srcset="btn_google_signin_dark_normal_.png 1x, btn_google_signin_dark_normal_@2x.png 2x">
		
	<svg class="Path_2" viewBox="2.734 -150 243.978 44.5">
		<path id="Path_2" d="M 29.76040267944336 -116.9681854248047 L 12.31503105163574 -116.9681854248047 L 8.396971702575684 -106.0719757080078 L 2.734375 -106.0719757080078 L 18.63540267944336 -147.7120819091797 L 23.44003105163574 -147.7120819091797 L 39.36965942382813 -106.0719757080078 L 33.73566055297852 -106.0719757080078 L 29.76040267944336 -116.9681854248047 Z M 13.97377014160156 -121.4582214355469 L 28.13026237487793 -121.4582214355469 L 21.03771591186523 -140.9341278076172 L 13.97377014160156 -121.4582214355469 Z M 62.93521118164063 -109.1320648193359 C 60.8760871887207 -106.7106857299805 57.8541259765625 -105.5 53.86933898925781 -105.5 C 50.57092666625977 -105.5 48.05897903442383 -106.4580612182617 46.3335075378418 -108.3741912841797 C 44.60803985595703 -110.2903213500977 43.73577117919922 -113.1263885498047 43.71670532226563 -116.8823852539063 L 43.71670532226563 -137.0160675048828 L 49.00751495361328 -137.0160675048828 L 49.00751495361328 -117.0253829956055 C 49.00751495361328 -112.3351516723633 50.91411209106445 -109.9900360107422 54.7273063659668 -109.9900360107422 C 58.76929473876953 -109.9900360107422 61.45759582519531 -111.4962463378906 62.79221725463867 -114.508674621582 L 62.79221725463867 -137.0160675048828 L 68.08302307128906 -137.0160675048828 L 68.08302307128906 -106.0719757080078 L 63.04961013793945 -106.0719757080078 L 62.93521118164063 -109.1320648193359 Z M 83.29767608642578 -144.5090026855469 L 83.29767608642578 -137.0160675048828 L 89.07466888427734 -137.0160675048828 L 89.07466888427734 -132.9264068603516 L 83.29767608642578 -132.9264068603516 L 83.29767608642578 -113.7123718261719 C 83.29767608642578 -112.4715881347656 83.55506896972656 -111.5410079956055 84.06984710693359 -110.9206161499023 C 84.58463287353516 -110.3002319335938 85.46166229248047 -109.9900360107422 86.70095825195313 -109.9900360107422 C 87.31106567382813 -109.9900360107422 88.14996337890625 -110.1044311523438 89.21766662597656 -110.3332214355469 L 89.21766662597656 -106.0683975219727 C 87.82585144042969 -105.6894607543945 86.47216033935547 -105.5 85.15660858154297 -105.5 C 82.79243469238281 -105.5 81.00975799560547 -106.214973449707 79.80860137939453 -107.6449203491211 C 78.60744476318359 -109.0748672485352 78.00686645507813 -111.1053924560547 78.00686645507813 -113.7365036010742 L 78.00686645507813 -132.9264068603516 L 72.37287139892578 -132.9264068603516 L 72.37287139892578 -137.0160675048828 L 78.00686645507813 -137.0160675048828 L 78.00686645507813 -144.5090026855469 L 83.29767608642578 -144.5090026855469 Z M 93.27871704101563 -121.8300094604492 C 93.27871704101563 -124.8614959716797 93.87453460693359 -127.5879364013672 95.06615447998047 -130.0093078613281 C 96.25777435302734 -132.4306945800781 97.91651916503906 -134.2991638183594 100.0423736572266 -135.6147155761719 C 102.1682357788086 -136.9302673339844 104.5943756103516 -137.5880432128906 107.3208160400391 -137.5880432128906 C 111.5344009399414 -137.5880432128906 114.9424362182617 -136.1295013427734 117.5449447631836 -133.21240234375 C 120.1474533081055 -130.2953033447266 121.4487075805664 -126.4153747558594 121.4487075805664 -121.5726165771484 L 121.4487075805664 -121.2008361816406 C 121.4487075805664 -118.1884078979492 120.8719635009766 -115.4858016967773 119.7184677124023 -113.0930252075195 C 118.5649719238281 -110.7002410888672 116.915771484375 -108.836540222168 114.7708435058594 -107.5019226074219 C 112.6259231567383 -106.1673049926758 110.1616516113281 -105.5 107.3780136108398 -105.5 C 103.1835021972656 -105.5 99.78498077392578 -106.9585418701172 97.18247985839844 -109.8756408691406 C 94.57997131347656 -112.7927322387695 93.27871704101563 -116.6535949707031 93.27871704101563 -121.4582214355469 L 93.27871704101563 -121.8300094604492 Z M 98.59812927246094 -121.2008361816406 C 98.59812927246094 -117.7689514160156 99.39413452148438 -115.0139236450195 100.9861450195313 -112.9357299804688 C 102.5781478881836 -110.857536315918 104.7087707519531 -109.8184432983398 107.3780136108398 -109.8184432983398 C 110.0663146972656 -109.8184432983398 112.2016983032227 -110.8718338012695 113.7841796875 -112.978630065918 C 115.3666610717773 -115.0854187011719 116.1578979492188 -118.0358810424805 116.1578979492188 -121.8300094604492 C 116.1578979492188 -125.2237548828125 115.3523635864258 -127.9740219116211 113.7412796020508 -130.080810546875 C 112.1302032470703 -132.1876068115234 109.9900512695313 -133.2409973144531 107.3208160400391 -133.2409973144531 C 104.7087707519531 -133.2409973144531 102.6019821166992 -132.201904296875 101.0004425048828 -130.1237182617188 C 99.39889526367188 -128.0455169677734 98.59812927246094 -125.0712280273438 98.59812927246094 -121.2008361816406 Z M 151.8780212402344 -124.4611129760742 L 134.404052734375 -124.4611129760742 L 134.404052734375 -106.0719757080078 L 128.9130401611328 -106.0719757080078 L 128.9130401611328 -147.7120819091797 L 154.7093200683594 -147.7120819091797 L 154.7093200683594 -143.2220458984375 L 134.404052734375 -143.2220458984375 L 134.404052734375 -128.9511566162109 L 151.8780212402344 -128.9511566162109 L 151.8780212402344 -124.4611129760742 Z M 166.2061004638672 -106.0719757080078 L 160.9152984619141 -106.0719757080078 L 160.9152984619141 -150 L 166.2061004638672 -150 L 166.2061004638672 -106.0719757080078 Z M 173.2700500488281 -121.8300094604492 C 173.2700500488281 -124.8614959716797 173.8658599853516 -127.5879364013672 175.0574798583984 -130.0093078613281 C 176.2491149902344 -132.4306945800781 177.9078521728516 -134.2991638183594 180.0337066650391 -135.6147155761719 C 182.1595611572266 -136.9302673339844 184.5857238769531 -137.5880432128906 187.3121490478516 -137.5880432128906 C 191.5257263183594 -137.5880432128906 194.9337768554688 -136.1295013427734 197.5362854003906 -133.21240234375 C 200.1387786865234 -130.2953033447266 201.4400329589844 -126.4153747558594 201.4400329589844 -121.5726165771484 L 201.4400329589844 -121.2008361816406 C 201.4400329589844 -118.1884078979492 200.86328125 -115.4858016967773 199.7098083496094 -113.0930252075195 C 198.5563201904297 -110.7002410888672 196.9071044921875 -108.836540222168 194.7621765136719 -107.5019226074219 C 192.6172485351563 -106.1673049926758 190.1529693603516 -105.5 187.3693389892578 -105.5 C 183.1748199462891 -105.5 179.7763214111328 -106.9585418701172 177.1738128662109 -109.8756408691406 C 174.5713043212891 -112.7927322387695 173.2700500488281 -116.6535949707031 173.2700500488281 -121.4582214355469 L 173.2700500488281 -121.8300094604492 Z M 178.5894622802734 -121.2008361816406 C 178.5894622802734 -117.7689514160156 179.3854522705078 -115.0139236450195 180.9774780273438 -112.9357299804688 C 182.5694885253906 -110.857536315918 184.7001190185547 -109.8184432983398 187.3693389892578 -109.8184432983398 C 190.0576477050781 -109.8184432983398 192.1930389404297 -110.8718338012695 193.7755126953125 -112.978630065918 C 195.3579864501953 -115.0854187011719 196.1492309570313 -118.0358810424805 196.1492309570313 -121.8300094604492 C 196.1492309570313 -125.2237548828125 195.3436889648438 -127.9740219116211 193.7326202392578 -130.080810546875 C 192.1215515136719 -132.1876068115234 189.9813842773438 -133.2409973144531 187.3121490478516 -133.2409973144531 C 184.7001190185547 -133.2409973144531 182.5933227539063 -132.201904296875 180.9917755126953 -130.1237182617188 C 179.3902282714844 -128.0455169677734 178.5894622802734 -125.0712280273438 178.5894622802734 -121.2008361816406 Z M 235.4728088378906 -113.3647155761719 L 241.4214019775391 -137.0160675048828 L 246.7122039794922 -137.0160675048828 L 237.7035369873047 -106.0719757080078 L 233.4136962890625 -106.0719757080078 L 225.8921661376953 -129.5231323242188 L 218.5708160400391 -106.0719757080078 L 214.2809753417969 -106.0719757080078 L 205.3009033203125 -137.0160675048828 L 210.5631103515625 -137.0160675048828 L 216.6546936035156 -113.8508987426758 L 223.8616333007813 -137.0160675048828 L 228.1228790283203 -137.0160675048828 L 235.4728088378906 -113.3647155761719 Z">
		</path>
	</svg>
</div>
</body>
</html>